name: Sanity Build

on: [pull_request]

jobs:
  sanity-build:
    name: Sanity Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Typecheck
        run: bun run typecheck

      - name: Lint
        run: bun run lint

      - name: Test
        if: false # No unit tests yet
        run: bun test

      - name: Build
        env:
          VERSION: 0.0.0
        run: bun run build

      - name: Package
        env:
          VERSION: 0.0.0
        run: |
          bun run chrome:pack
          bun run firefox:pack
