name: Sanity Build

on: [pull_request]

jobs:
  sanity-build:
    name: Sanity Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build extension
        uses: ./.github/actions/build-extension
        with:
          run-checks: "true"
